div{
    background: rgb(0,0,0);
    display:inline-block;
    margin: 6px;
}
#one{
    display:block;
    width: 300px;
    height: 80px;
}
#two{
    width: 80px;
    height: 160px;

}
#three{
    width: 204px;
    height: 160px;
}
#four{
    display:block;
    width: 300px;
    height: 80px;
}