#big{
    width:265px;
    height: 420px;
}
#one{
    width:40px;
    height: 400px;
    float:left;
    margin:10px;
    background: rgb(0,0,0);
}
#two{
    width: 120px;
    height:400px;
    float:left;
    margin: 10px;
    background: rgb(0,0,0);
}
#three{
    width:40px;
    height: 400px;
    float:right;
    margin:10px;
    background: rgb(0,0,0);
}