div{
    background: rgb(0,0,0);
    /*display: inline-block;*/
    margin:6px;
}
#one{
    width: 305px;
    height: 70px;
    position: absolute;
}
#two, #three, #four{
    width: 90px;
    height: 400px;
    position: relative;
    top: 90px;
    float:left;
    margin:8px;
}
