div{
    background: rgb(0,0,0);
    margin: 10px;
}
#one{
    width: 500px;
    height: 80px;
}
#two{
    width: 100px;
    height:450px;
    float:left;
}
#three{
    width: 378px;
    height: 450px;
    float:left;
}