#big{
    width: 330px;
    height: 600px;
}
#one, #four, #seven{
    width:300;
    height: 80px;
    background: rgb(0,0,0);
    margin:10px;
    clear: left;
}
#two, #three, #five, #six{
    width: 145px;
    height: 60px;
    margin: 10px;
    float:left;
    background: rgb(0,0,0);
}